{%- from 'utils.template' import quote -%}
// ===== DB Importer module {{name}} =====

val fieldTypes_{{name}}: Array[TypeInformation[_]] = Array({{','.join(field_types)}})
val fieldNames_{{name}} = Array({{','.join(field_names)}})
val query_{{name}} = {{quote(query)}}
val interm_{{name}} = SQLDBReader[{{data_type}}](fieldNames_extractordb, fieldTypes_extractordb, {{quote(driver)}}, {{quote(db_url)}}, query_{{name}}, env).getDataSet

val {{name}} = interm_extractordb.map((elem: Row)=> getRequired[{{data_type}}](elem))
  {% if filter_null -%}.filter(t => {{' && '.join(filter_fields)}}){%- endif -%}